* {
  margin: 0;
  padding: 0;
}
header {
  background-color: blanchedalmond;
  text-align: center;
}

footer {
  text-align: center;
  background-color: burlywood;
}
.hidden{
  opacity: 0;
  z-index: -1;
  display: none;
}
.content {
  min-height: 100vh;
  background-color: cornflowerblue;
}
.wrapper {
  display: block;
  width: 1000px;
  min-height: 500px;
  margin: auto;
  align-items: stretch;
}
.main-section {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: aqua;
}


.todo-item-manager {
  height: 500px;
  background-color: brown;
}
.crt-todo{
  height: 50px;
  background-color: burlywood;
  margin-bottom: 5px;
}
.crt-todo button{
    height: 100%;
    width: 95%;
    display: block;
    margin: auto;
    border-radius: 3px;
}
.todo-form{
    background-color: rgb(134, 119, 98);

}

.todo-list {
  min-height: 500px;

  background-color: rgb(131, 58, 58);
}
.project-name{
    text-align: center;
    line-height: 50px;
    height: 50px;
    background-color: cadetblue;
    margin-bottom: 5px;
}
.list{
    background-color: rgb(68, 103, 104);

}
.todo-item{

}
.todo-item p{
    display: inline;
}
.todo-item *{
    margin-left: 10px;
    margin-right: 10px;
}
.todo-item button{
    float: right;
}

.project-manager {
  min-height: 500px;
  background-color: rgb(110, 85, 85);
}
.crt-project{
    height: 50px;
    margin-bottom: 5px;
    background-color: chartreuse;
}
.crt-project button{
    height: 100%;
    width: 95%;
    display: block;
    margin: auto;
    border-radius: 3px;
}
#project-form{
  background-color: rgb(70, 158, 158);
}
.project-list{
    background-color: rgb(74, 94, 54);
}
.selected-project{
}
.todo-edit-form